List

In [1]:
number=[1,2,3,4,5]
name=["sony","bushra","manasa","veda"]
mixed=[8,"hii",7]
print(number)
print(name)
print(mixed)

[1, 2, 3, 4, 5]
['sony', 'bushra', 'manasa', 'veda']
[8, 'hii', 7]

In [2]:
numbers=[29,20,70,89,70]
numbers.append(36)
print(numbers)

[29, 20, 70, 89, 70, 36]

In [3]:
#list append
number=[28,90,675,98]
number.append(564)
print(number)

[28, 90, 675, 98, 564]

In [4]:
#list pop
number=[3274,89,78,9,76]
number.pop(1)
print(number)

[3274, 78, 9, 76]

In [5]:
#List remove
number=[37,50,60,70,78]
number.remove(37)
print(number)

[50, 60, 70, 78]

In [6]:
number=[8,9,4,4,2,3,1,6]
number.count(number)
print(number)

[8, 9, 4, 4, 2, 3, 1, 6]

In [7]:
str=["apple","banana","mango"]
str.pop(1)
print(str)

['apple', 'mango']

In [8]:
str=["apple","banana","mango"]
str.remove("apple")
print(str)

['banana', 'mango']

In [9]:
str=["apple","banana","mango"]
str.append("kivi")
print(str)

['apple', 'banana', 'mango', 'kivi']

In [10]:
str=["apple","banana","mango"]
str.pop(1)
print(str)

['apple', 'mango']

Tuple

In [11]:
num=(1,2,3,4,5,6,8)
print(num)

(1, 2, 3, 4, 5, 6, 8)

In [12]:
num=(9,3,5,6,8)
name=("sony","manasa","veda")
print(num,name)
print(num)
print(name)

(9, 3, 5, 6, 8) ('sony', 'manasa', 'veda')
(9, 3, 5, 6, 8)
('sony', 'manasa', 'veda')

In [13]:
#Accesing the Tuple elements

num=(9,3,5,6,8)
print(num[1])
print(num)

3
(9, 3, 5, 6, 8)

In [14]:
num=(9,3,5,6,8)
print(num[1:4])

(3, 5, 6)

In [15]:
#Task 1
inventory = ["Apples", "Bananas", "Carrots", "Dates"]
print("Current inventory:", inventory)
inventory.append("Eggs")
inventory.remove("Bananas")
inventory.sort()
print("Final updated inventory:", inventory)

Current inventory: ['Apples', 'Bananas', 'Carrots', 'Dates']
Final updated inventory: ['Apples', 'Carrots', 'Dates', 'Eggs']

In [16]:
#Task 2
temperatures = [22, 24, 25, 28, 30, 29, 27, 26, 24, 22]
print("First reading:", temperatures[0])
print("Last reading:", temperatures[-1])
afternoon_peak = temperatures[3:6]
print("Afternoon Peak readings:", afternoon_peak)
last_3_hours = temperatures[-3:]
print("Last 3 Hours readings:", last_3_hours)

First reading: 22
Last reading: 22
Afternoon Peak readings: [28, 30, 29]
Last 3 Hours readings: [26, 24, 22]

In [17]:
#Task 3
screen_res = (1920, 1080)
print("Current Resolution:", screen_res[0], "x", screen_res[1])
print("Tuples cannot be modified")

Current Resolution: 1920 x 1080
Tuples cannot be modified

In [27]:
data=[10,20,10,30,20,40]
unique=[]
for item in data:
    if item not in unique:
        unique.append(item)
print(unique)

[10, 20, 30, 40]

In [41]:
#Finding largest 2nd number
num=[10,68,90,40,60]
num.sort()
print(num[-2])

68

In [42]:
nums=[68,90,40,78,59]
unique_nums= list(set(nums))
unique_nums.sort()
print(unique_nums[-2])

TypeError: 'list' object is not callable

In [32]:
x=[1,2,3]
length=len(x)
temp=[]
final=[]
for i in range(length):
    temp.append([x[i]])
print(temp)

[[1], [2], [3]]

In [ ]:
x=[1,2,3,4,5,6]
length=len(x)
temp=[] 
temp1=[]
for i in x:
    temp.append([i])

for i in x:
        temp1=[]
        print(temp)
        for jjj in temp:temp1.append(jjj)
        temp=[]
        for j in temp1:
            for k in x:
                if j[-1]<k:
                    j.append(k)
                    temp.append(j)
                    j=j[:-1]

[[1], [2], [3], [4], [5], [6]]
[[1, 2], [1, 3], [1, 4], [1, 5], [1, 6], [2, 3], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6], [4, 5], [4, 6], [5, 6]]
[[1, 2, 3], [1, 2, 4], [1, 2, 5], [1, 2, 6], [1, 3, 4], [1, 3, 5], [1, 3, 6], [1, 4, 5], [1, 4, 6], [1, 5, 6], [2, 3, 4], [2, 3, 5], [2, 3, 6], [2, 4, 5], [2, 4, 6], [2, 5, 6], [3, 4, 5], [3, 4, 6], [3, 5, 6], [4, 5, 6]]
[[1, 2, 3, 4], [1, 2, 3, 5], [1, 2, 3, 6], [1, 2, 4, 5], [1, 2, 4, 6], [1, 2, 5, 6], [1, 3, 4, 5], [1, 3, 4, 6], [1, 3, 5, 6], [1, 4, 5, 6], [2, 3, 4, 5], [2, 3, 4, 6], [2, 3, 5, 6], [2, 4, 5, 6], [3, 4, 5, 6]]
[[1, 2, 3, 4, 5], [1, 2, 3, 4, 6], [1, 2, 3, 5, 6], [1, 2, 4, 5, 6], [1, 3, 4, 5, 6], [2, 3, 4, 5, 6]]
[[1, 2, 3, 4, 5, 6]]

In [ ]:
c=[2,2,1]
def gg(b):
    for i in b:
        for j in i:
            print( )

In [ ]:
x=open("a.txt")