In [ ]:

import sqlite3
conn = sqlite3.connect("internship.db")
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS interns (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    track TEXT NOT NULL,
    stipend INTEGER
)
""")
intern_data = [
    ("Sony", "Data Science", 15000),
    ("Priya", "Web Dev", 12000),
    ("Bushra", "Cybersecurity", 18000),
    ("Manasa", "Data Science", 16000),
    ("Vikram", "UI/UX", 14000)
]
cursor.executemany(
    "INSERT INTO interns (name, track, stipend) VALUES (?, ?, ?)",
    intern_data
)
cursor.execute("SELECT name, track FROM interns")
rows = cursor.fetchall()
print("Intern List:\n")
for row in rows:
    print(f"Name: {row[0]}, Track: {row[1]}")
conn.commit()
conn.close()

Intern List:

Name: Sony, Track: Data Science
Name: Priya, Track: Web Dev
Name: Bushra, Track: Cybersecurity
Name: Manasa, Track: Data Science
Name: Vikram, Track: UI/UX