In [2]:
import pandas as pd
s=pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
import pandas as pd
s=pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
w=pd.Series([6,7,8,9,10], index=['a','b','c','d','e'])
print(s)
print(w)

a    1
b    2
c    3
d    4
e    5
dtype: int64
a     6
b     7
c     8
d     9
e    10
dtype: int64

In [6]:
import pandas as pd
data=[10,20,30,40,50]
s=pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [7]:
masks={"math": 85, "science": 90, "english": 78}
s=pd.Series(masks)
print(s)

math       85
science    90
english    78
dtype: int64

In [10]:
#Accesing data from series
import pandas as pd
s=pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
print(s['a'])
print(s['c'])

1
3

In [ ]:
#Assessing data from index
from operator import index
import pandas as pd
s=pd.Series([1,2,3,4,5], index=['a','b','c','d','e']) 
print(s.index[0])
print(s.index[2])

a
c

In [20]:
import pandas as pd
s=pd.Series([1,2,3,4,5], index=['a','b','c','d','e']) 
print(s[0])
print(s[2])

1
3

C:\Users\Dell\AppData\Local\Temp\ipykernel_13628\3787587332.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])
C:\Users\Dell\AppData\Local\Temp\ipykernel_13628\3787587332.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[2])

In [21]:
#slicing
import pandas as pd
s=pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
print(s[1:4])

b    2
c    3
d    4
dtype: int64

In [22]:
#Arithmetic operations
import pandas as pd
s=pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
w=pd.Series([6,7,8,9,10], index=['a','b','c','d','e'])
print(s+w)
print(s-w)
print(s*w)
print(s/w)
print(s**2)
print(s**3)

a     7
b     9
c    11
d    13
e    15
dtype: int64
a   -5
b   -5
c   -5
d   -5
e   -5
dtype: int64
a     6
b    14
c    24
d    36
e    50
dtype: int64
a    0.166667
b    0.285714
c    0.375000
d    0.444444
e    0.500000
dtype: float64
a     1
b     4
c     9
d    16
e    25
dtype: int64
a      1
b      8
c     27
d     64
e    125
dtype: int64

In [23]:
#Statistical operations
import pandas as pd
s=pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
print(s.mean())
print(s.median())
print(s.mode())
print(s.std())
print(s.var())
print(s.min())
print(s.max())
print(s.sum())
print(s.count())
print(s.describe())
print(s.value_counts())
print(s.unique())
print(s.nunique())
print(s.isnull())
print(s.notnull())
print(s.isna())
print(s.notna())

3.0
3.0
0    1
1    2
2    3
3    4
4    5
dtype: int64
1.5811388300841898
2.5
1
5
15
5
count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64
1    1
2    1
3    1
4    1
5    1
Name: count, dtype: int64
[1 2 3 4 5]
5
a    False
b    False
c    False
d    False
e    False
dtype: bool
a    True
b    True
c    True
d    True
e    True
dtype: bool
a    False
b    False
c    False
d    False
e    False
dtype: bool
a    True
b    True
c    True
d    True
e    True
dtype: bool

In [24]:
import numpy as np
s=pd.Series([1,2,3,4,np.nan])
print(s.isnull())

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [25]:
#filling the missing values
import numpy as np
s=pd.Series([1,2,3,4,np.nan])
s.fillna(0, inplace=True)
print(s)

0    1.0
1    2.0
2    3.0
3    4.0
4    0.0
dtype: float64

In [26]:
#Dropping the missing values
import numpy as np
s=pd.Series([1,2,3,4,np.nan])
s.dropna(inplace=True)
print(s)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [ ]:
#Student attendance Example performing all the operations with name and who has more attendance and who has less attendance with attendance percentage and mark students are present or absent
import pandas as pd
names = ["Sony", "Bushra", "Akash", "Poornima", "Manasa", "Veda", "Sahil"]
attendance = pd.Series([10, 15, 20, np.nan, 25, 30, 35], index=names)
print("Original Attendance Series:")
print(attendance)

# Statistical operations
print("\nStatistical Operations:")
print("Mean:", attendance.mean())
print("Median:", attendance.median())
print("Mode:", attendance.mode())
print("Standard Deviation:", attendance.std())
print("Minimum Value:", attendance.min())
print("Maximum Value:", attendance.max())
print("Sum:", attendance.sum())
print("Count of Non-NaN Values:", attendance.count())

# Handling missing values
attendance_filled = attendance.fillna(0)
print("\nAttendance Series after filling NaN with 0:")
print(attendance_filled)

attendance_dropped = attendance.dropna()
print("\nAttendance Series after dropping NaN values:")
print(attendance_dropped)

Original Attendance Series:
Sony        10.0
Bushra      15.0
Akash       20.0
Poornima     NaN
Manasa      25.0
Veda        30.0
Sahil       35.0
dtype: float64

Statistical Operations:
Mean: 22.5
Median: 22.5
Mode: 0    10.0
1    15.0
2    20.0
3    25.0
4    30.0
5    35.0
dtype: float64
Standard Deviation: 9.354143466934854
Minimum Value: 10.0
Maximum Value: 35.0
Sum: 135.0
Count of Non-NaN Values: 6

Attendance Series after filling NaN with 0:
Sony        10.0
Bushra      15.0
Akash       20.0
Poornima     0.0
Manasa      25.0
Veda        30.0
Sahil       35.0
dtype: float64

Attendance Series after dropping NaN values:
Sony      10.0
Bushra    15.0
Akash     20.0
Manasa    25.0
Veda      30.0
Sahil     35.0
dtype: float64

In [35]:
#Student attendance Example performing all the operations with name and who has more attendance and who has less attendance with attendance percentage and mark students are present or absent
import pandas as pd
names = ["Sony", "Bushra", "Akash", "Poornima", "Manasa", "Veda", "Sahil"]
attendance = pd.Series([35, 30, 10, np.nan, 25, 15, 34], index=names)
total_classes = 40
print("Original Attendance Series:")
print(attendance)

# Calculate attendance percentage
attendance_percentage = (attendance / total_classes) * 100
print("\nAttendance Percentage:")
print(attendance_percentage)

# Mark students as present or absent based on attendance percentage
attendance_status = (attendance_percentage >= 75).map({True: "Present", False: "Absent"})
print("\nAttendance Status:")
print(attendance_status)

# Statistical operations
print("\nStatistical Operations:")
print("Mean:", attendance.mean())
print("Median:", attendance.median())
print("Standard Deviation:", attendance.std())
print("Minimum Value:", attendance.min())
print("Maximum Value:", attendance.max())
print("Sum:", attendance.sum())
print("Count of Non-NaN Values:", attendance.count())

# Handling missing values
attendance_filled = attendance.fillna(0)
print("\nAttendance Series after filling NaN with 0:")
print(attendance_filled)
attendance_dropped = attendance.dropna()
print("\nAttendance Series after dropping NaN values:")
print(attendance_dropped)

Original Attendance Series:
Sony        35.0
Bushra      30.0
Akash       10.0
Poornima     NaN
Manasa      25.0
Veda        15.0
Sahil       34.0
dtype: float64

Attendance Percentage:
Sony        87.5
Bushra      75.0
Akash       25.0
Poornima     NaN
Manasa      62.5
Veda        37.5
Sahil       85.0
dtype: float64

Attendance Status:
Sony        Present
Bushra      Present
Akash        Absent
Poornima     Absent
Manasa       Absent
Veda         Absent
Sahil       Present
dtype: object

Statistical Operations:
Mean: 24.833333333333332
Median: 27.5
Standard Deviation: 10.303721010715822
Minimum Value: 10.0
Maximum Value: 35.0
Sum: 149.0
Count of Non-NaN Values: 6

Attendance Series after filling NaN with 0:
Sony        35.0
Bushra      30.0
Akash       10.0
Poornima     0.0
Manasa      25.0
Veda        15.0
Sahil       34.0
dtype: float64

Attendance Series after dropping NaN values:
Sony      35.0
Bushra    30.0
Akash     10.0
Manasa    25.0
Veda      15.0
Sahil     34.0
dtype: float64

In [ ]:
#creating a data frame This is most important
data={"name": ["Alice", "Bob", "Charlie", "David"],
      "age": [25, 30, 35, 40], "Marks": [85, 90, 78, 92]}
df=pd.DataFrame(data)
print(df)

      name  age  Marks
0    Alice   25     85
1      Bob   30     90
2  Charlie   35     78
3    David   40     92

In [40]:
# real word dictionary to data frame
import pandas as pd
data = [ 
    {"Name":"Sony","Age":"21", "Marks":99},
    {"Name":"Alice","Age":"25", "Marks":85},
    {"Name":"Bob","Age":"30", "Marks":90},
    {"Name":"Charlie","Age":"35", "Marks":78},
    {"Name":"David","Age":"40", "Marks":92},
    {"Name":"Bushra","Age":"22", "Marks":88},
    {"Name":"Akash","Age":"28", "Marks":80},
    {"Name":"Poornima","Age":"26", "Marks":95},
    {"Name":"Manasa","Age":"24", "Marks":82},
    {"Name":"Veda","Age":"27", "Marks":91},
    {"Name":"Sahil","Age":"29", "Marks":89}
    
]
df = pd.DataFrame(data)
print(df)

        Name Age  Marks
0       Sony  21     99
1      Alice  25     85
2        Bob  30     90
3    Charlie  35     78
4      David  40     92
5     Bushra  22     88
6      Akash  28     80
7   Poornima  26     95
8     Manasa  24     82
9       Veda  27     91
10     Sahil  29     89

In [43]:
# Basic inspections of data frame
print(df.head())  # First 5 rows
print(df.tail())  # Last 5 rows
print(df.info())  # DataFrame info
print(df.describe())  # Statistical summary

#Coumn Accessing
print(df['Name'])  # Accessing 'Name' column
print(df['Age'])   # Accessing 'Age' column
print(df['Marks']) # Accessing 'Marks' column
print(df[['Name', 'Marks']])  # Accessing multiple columns
print(df.Name) # Accessing the name of the DataFrame
print(df.columns) # Accessing the columns of the DataFrame
print(df.index) # Accessing the index of the DataFrame

      Name Age  Marks
0     Sony  21     99
1    Alice  25     85
2      Bob  30     90
3  Charlie  35     78
4    David  40     92
        Name Age  Marks
6      Akash  28     80
7   Poornima  26     95
8     Manasa  24     82
9       Veda  27     91
10     Sahil  29     89
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    11 non-null     object
 1   Age     11 non-null     object
 2   Marks   11 non-null     int64
dtypes: int64(1), object(2)
memory usage: 396.0+ bytes
None
           Marks
count  11.000000
mean   88.090909
std     6.394600
min    78.000000
25%    83.500000
50%    89.000000
75%    91.500000
max    99.000000
0         Sony
1        Alice
2          Bob
3      Charlie
4        David
5       Bushra
6        Akash
7     Poornima
8       Manasa
9         Veda
10       Sahil
Name: Name, dtype: object
0     21
1     25
2     30
3     35
4     40
5     22
6     28
7     26
8     24
9     27
10    29
Name: Age, dtype: object
0     99
1     85
2     90
3     78
4     92
5     88
6     80
7     95
8     82
9     91
10    89
Name: Marks, dtype: int64
        Name  Marks
0       Sony     99
1      Alice     85
2        Bob     90
3    Charlie     78
4      David     92
5     Bushra     88
6      Akash     80
7   Poornima     95
8     Manasa     82
9       Veda     91
10     Sahil     89
0         Sony
1        Alice
2          Bob
3      Charlie
4        David
5       Bushra
6        Akash
7     Poornima
8       Manasa
9         Veda
10       Sahil
Name: Name, dtype: object
Index(['Name', 'Age', 'Marks'], dtype='object')
RangeIndex(start=0, stop=11, step=1)